@import "tailwindcss";
@tailwind utilities;

:root {
	--body: #0d0d0d;
	--no-decoration: "none";
	--thin-text: 300;
	--regular-text: 400;
	--medium-text: 500;
	--semibold-text: 600;
	--bold-text: 700;
	--text-light: #e9e6df;
	--dark-blue: #00cccc;
}

@theme {
	--text-xs: 1.2rem;
	--text-base: 1.4rem;
	--text-sm: 1.6rem;
	--text-md: 1.8rem;
	--text-lg: 3rem;
	--text-xl: 4rem;
	--text-2xl: 6rem;

	--color-dark-red: #e13404;
	--color-spinach-green: #3b7a57;
	--color-broccoli-green: #6ea04b;
	--color-text-light: #e9e6df;
	--color-medium-grey: #cccccc;
	--color-berry-blue: #4f86f7;
	--color-text-grey: #a8a8a8;
	--color-text-grey: #a8a8a8;
	--color-google: #4285f4;
	--color-black: #000;
	--color-white: #fff;
	--color-ring-dark: #2a3132;
	--color-dark-blue: #00cccc;
	--color-dark-navy: #202226;
	--color-dark-grey: #272a2d;
}

@utility flex-center {
	@apply flex justify-center items-center;
}

@layer components {
	.container {
		@apply px-[3rem] sm:px-[4rem] lg:px-[6rem];
	}
	.hero-auth {
		background-image: url("/images/auth-icon.jpg");
	}
	.google-button {
		@apply w-full bg-google hover:bg-[#4285F4]/90 focus:ring-[#4285F4]/50;
	}
	.slogan-text {
		font-family: var(--font-oswald);
		@apply text-[2.4rem] font-bold leading-[1.2] mb-2 text-text-light sm:text-lg md:text-[4rem];
	}
	.dark-border {
		@apply border-solid border-[hsla(0,0%,100%,0.05)];
	}
	.sidebar-menu-toggle-button-icon::after,
	.sidebar-menu-toggle-button-icon::before {
		content: "";
		height: 1px;
	}

	.sidebar-menu-toggle-button-icon::after {
		width: 0.8rem;
		margin: 3px 0;
	}

	.site-menu-toggle-icon-dark::before,
	.sidebar-menu-toggle-button-icon::before {
		width: 1.4rem;
		margin: 3px 0;
	}

	.sidebar-menu-toggle-button-icon::after {
		background: var(--text-light);
	}

	.sidebar-menu-toggle-button-icon::before {
		background: var(--text-light);
	}

	.focus-global {
		@apply focus:outline-none focus-visible:ring-1 focus-visible:ring-berry-blue focus-visible:ring-offset-0;
	}
	.grid-row-2 {
		@apply grid grid-cols-1 grid-rows-1 gap-[3.06rem] gap-y-[2.5rem] sm:grid-cols-2 sm:gap-[2.6rem] md:grid-cols-2 md:gap-[3.06rem];
	}

	.card-dark-bg {
		@apply border bg-dark-navy p-14 w-full max-w-[100%] rounded-xl sm:max-w-[56rem] md:max-w-[60rem] lg:max-w-[70rem];
	}
}

@layer base {
	html {
		font-size: 62.5%;
		-webkit-text-size-adjust: 100%;
	}

	html,
	body {
		width: 100%;
		min-height: 100%;
		overscroll-behavior: none;
		scroll-behavior: auto;
	}

	body {
		padding: 0;
		margin: 0;
		font-size: 1.6rem;
		line-height: 1.5;
		font-family: var(--font-ibm);
		font-weight: var(--regular-text);
		background-color: var(--body);
		color: var(--text-light);
		-webkit-text-size-adjust: 100%;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		overflow-x: hidden;
	}
	a {
		text-decoration: var(--no-decoration);
		color: inherit;
	}
	button {
		cursor: pointer;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1;
		font-family: var(--font-oswald);
	}

	h1 {
		font-family: var(--font-bebas);
		@apply font-semibold text-[2.4rem] text-dark-blue sm:text-[2.8rem];
	}
}

* {
	box-sizing: border-box;
	outline: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

html,
body,
:root {
	scroll-behavior: none;
}
