@import "tailwindcss";
@tailwind utilities;

:root {
	--body: #0d0d0d;
	--no-decoration: "none";
	--thin-text: 300;
	--regular-text: 400;
	--medium-text: 500;
	--semibold-text: 600;
	--bold-text: 700;
}

* {
	box-sizing: border-box;
	outline: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

html,
body,
:root {
	scroll-behavior: none;
}

html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
}

html,
body {
	width: 100%;
	min-height: 100%;
	overscroll-behavior: none;
	scroll-behavior: auto;
}

body {
	padding: 0;
	margin: 0;
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: var(--font-ibm);
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}
